* {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
*:any-link {
  text-decoration: none;
}
body {
  background-color: #23272A;
}
body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("img/background0.jpg") url("img/background1.jpg") url("img/background2.png") url("img/background3.jpg") url("img/background4.png") url("img/background5.png") url("img/background6.jpg");
}
.debug {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid red;
}
.backgroundImage {
  width: 100vw;
  height: 100vh;
  background-image: url("img/background0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1000ms;
}
.container {
  min-width: 300px;
  width: 700px;
  height: 800px;
  backdrop-filter: blur(5px);
  margin: auto;
  box-shadow: 0px 0px 100px 20px black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.discordEmbed {
}
.discordButton {
  background-color: #7289DA;
  width: 150px;
  padding: 10px;
  border-radius: 20px;
  margin: 20px auto;
  cursor: pointer;
  transition: 500ms;
}
.discordButton a {
  color: #ffffff;
}
.discordButton:hover {
  transform: scale(1.05);
}